@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Thank You!</h1>
        <p class="lead">Your email address has been added.  You will hear from us as soon as the RedRush Zone app is released.</p>
    </main>
</div>