@{
    Layout = "~/_SiteLayout.cshtml";
}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-3 mx-auto my-2">
        <h1 class="display-4 font-weight-normal">
            <img src="~/Images/fast-football-ball-64.png" />RedZone Rush
        </h1>
        <p class="lead font-weight-normal">A live fantasy football quiz game coming soon</p>

        <!-- Begin MailChimp Signup Form -->
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
            <form action="https://redzonerush.us12.list-manage.com/subscribe/post?u=0a3a73a727d6817595c56efd6&amp;id=6784727112" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <input type="email" value="" name="EMAIL" class="email form-control form-control-lg" style="width: 100%; margin-bottom: 12px;" id="mce-EMAIL" placeholder="Email Address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_0a3a73a727d6817595c56efd6_6784727112" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                        <input type="submit" value="Be The First To Know" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary btn-lg btn-block">
                    </div>
                </div>
            </form>
        </div>
        <!--End mc_embed_signup-->
    
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Pick your game type</h2>
            <p class="lead">Pick the number of games you want to play</p>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 50px 50px 0 0;">
            <ul class="list-group list-group-flush phone-list">
                <li class="list-group-item"></li>
                <li class="list-group-item header">Select Game Type</li>
                <li class="list-group-item text-dark">5 games</li>
                <li class="list-group-item text-dark">7 games</li>
                <li class="list-group-item text-dark">All games</li>
            </ul>
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Get RedZone alerts</h2>
            <p class="lead">We will let you know each time a team reaches the RedZone</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 50px 50px 0 0;">
            <ul class="list-group list-group-flush phone-list">
                <li class="list-group-item"></li>
                <li class="list-group-item">
                    <div class="alert alert-dark" role="alert">
                        <h4 class="alert-heading notification"><img src="~/Images/fast-football-ball-32.png" />RedZone Rush</h4>
                        <p>The Philadelphia Eagles have just reached the Redzone, make your selections now.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Pick the scoring type</h2>
            <p class="lead">Earn points by selecting the correct scoring method.</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 50px 50px 0 0;">
            <ul class="list-group list-group-flush phone-list">
                <li class="list-group-item"></li>
                <li class="list-group-item header dark">Select Scoring Type</li>
                <li class="list-group-item text-light">Touchdown</li>
                <li class="list-group-item text-light">Field Goal</li>
                <li class="list-group-item text-light">None</li>
            </ul>
        </div>
    </div>
    <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Pick the position to score</h2>
            <p class="lead">Earn 2X the points by selecting the position who scored.</p>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 320px; border-radius: 50px 50px 0 0;">
            <ul class="list-group list-group-flush phone-list">
                <li class="list-group-item"></li>
                <li class="list-group-item header">Select Scoring Position</li>
                <li class="list-group-item text-dark">Quaterback (QB)</li>
                <li class="list-group-item text-dark">Running Back (RB)</li>
                <li class="list-group-item text-dark">Wide Reciever (WR)</li>
                <li class="list-group-item text-dark">Tight End (TE)</li>
            </ul>
        </div>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Climb the leaderboard</h2>
            <p class="lead">Each correct selection adds up, moving you up the leaderboard.</p>
        </div>
        <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 320px; border-radius: 50px 50px 0 0;">
            <ul class="list-group list-group-flush phone-list">
                <li class="list-group-item"></li>
                <li class="list-group-item text-dark">
                    <span class="number float-left"><strong>1.</strong></span>nfoles
                    <span class="badge badge-danger badge-pill float-right">22</span>
                </li>
                <li class="list-group-item text-dark">
                    <span class="number float-left"><strong>2.</strong></span>cwentz18
                    <span class="badge badge-danger badge-pill float-right">20</span>
                </li>
                <li class="list-group-item text-dark">
                    <span class="number float-left"><strong>3.</strong></span>zache
                    <span class="badge badge-danger badge-pill float-right">19</span>
                </li>
                <li class="list-group-item text-dark">
                    <span class="number float-left"><strong>4.</strong></span>phillyspecial
                    <span class="badge badge-danger badge-pill float-right">17</span>
                </li>
                <li class="list-group-item text-dark">
                    <span class="number float-left"><strong>5.</strong></span>fletchercox
                    <span class="badge badge-danger badge-pill float-right">12</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Win!</h2>
            <p class="lead">Top players take the home the prize, according the game beign played.</p>
        </div>
        <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 50px 50px 0 0;">
            <ul class="list-group list-group-flush phone-list">
                <li class="list-group-item"></li>
                <li class="list-group-item" style="margin-right: 0; margin-left: 0; border: none">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-dark">You Won!!</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Congratulations</h6>
                            <p class="card-text text-dark">You scored the most points this week, be sure to tell your friends.</p>
                            <a href="#" class="btn btn-danger">Share</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
